.masthead {
  position: relative;
  display: table;
  width: 100%;
  padding-top: 8rem;
  background-color: #f4cb42;
  background-position: center center;
  background-repeat: no-repeat;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: #4B4949;
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 5.5rem;
    }
  }
}
